.navbar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  background-color: rgb(244, 244, 244);
}

.navbar ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-right: 20px;
}

.navbar a {
  display: block;
}

.navbar a span {
  display: inline-block;
  padding: 10px 10px;
  text-decoration: none;
  color: #333;
  font-size: 18px;
  position: relative;
  -webkit-transition: -webkit-background-color 0.3s, -webkit-color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover span {
  color: white;
  background-color: #333;
}

.navbar a:active span {
  opacity: 0.7;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  text-align: left;
  padding-left: 23px;
}

h2 {
  color: #333;
  margin: 1;
  text-align: center;
}

p {
  color: #555;
  margin: 0.5;
  line-height: 20px;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Publications Styles */

.publications {
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
}

.publications h2 {
  color: #333;
  margin: 0;
}

.publications ul {
  list-style-type: none;
  padding: 0;
  line-height: 20px;
}

img[alt="LinkedIn"] {
  padding-left: 10px;
  cursor: pointer;
}

.links {
  text-align: center;
}

.github-logo img,
.linkedin-logo img {
  width: 30px;
  height: 30px;
  -webkit-transition: -webkit-transform 0.3s ease, filter 0.3s ease;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.github-logo img:hover,
.linkedin-logo img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Projects Styles */

.project-heading {
  font-family: Arial;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.project-container {
  max-width: 800px;
  margin: 10px auto;
}

.ViT-Transformer {
  display: flex;
  align-items: center;
}

#ViT-Image {
  width: 300px;
  margin-right: 20px;
}

.project-details {
  flex-grow: 1;
}

.project-title {
  margin-bottom: 10px;
}

.ViT-project-description {
  text-align: justify;
}

.citation-text {
  margin-left: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Arial;
  font-size: 10px;
}
