.project-heading{
  margin-top: 50px;
}

.project-heading h2{
  color: #333;
  font-family: Arial;
  text-align: center;
}

.project-container {
  max-width: 850px;
  margin: 10px auto;
}

.project {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 10px;
}

.project-image img{
  width: 300px;
  height: 150px;
  margin-right: 20px;
}

.project-title{
  display: block;


}
.project-title a{
  color: #333;
}

.project-description {
  display: flex;
  flex-direction: row;
  text-align: left;
  
}

.citation-text p{
  width: 300px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Arial;
  font-size: 10px;
  text-align: center;
}