
/* Publications Styles */

.publication-container {
  max-width: 800px;
  margin: 10px auto;
  
}
.publication-heading{
  margin-top: 50px;
  margin-bottom: 50px;
}
.publication-heading h2{
  color: #333;
  font-family: Arial;
  text-align: center;
}

.publication {
  display: flex;
  align-items: center;
}


.pub-image img{
  width: 250px;
  margin-right: 20px;
}

.pub-title a{
  color: #333;
}
.pub-citation{
  color: #333;
  font-size: 12px;
}


