
/* Publications Styles */

.publication-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  width: 900px;
  height: auto;
  margin: auto;
  padding-bottom: 20px;
}

.publication-heading{
  padding-bottom: 20px;
}
.publication-heading h2{
  color: #333;
  font-family: Arial;
  text-align: center;
  margin-top: 0px;
  padding-top: 20px;
}

.publication {
  display: flex;
  align-items: center;
}

.pub-image img{
  width: 250px;
  margin-right: 20px;
}

.pub-title a{
  color: #333;
}
.pub-citation{
  color: #333;
  font-size: 12px;
}


