.skills-container{
  padding-bottom: 20px;
}

.machine_learning {
  display: flex;
  flex-wrap: wrap;
}

.programming_language {
  display: flex;
  flex-wrap: wrap;
}

.programming_language p {
  color: #333;
  font-weight: bold;
  text-align: center;
}

.skill-item {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  flex-direction: column; /* Align items in a column */
}

.machine_learning p {
  color: #333;
  font-weight: bold;
  text-align: center;
}
.skills-heading{
  text-align: center;
}

.skill-logos img{
  padding-right: 10px;
  padding-left: 10px;
  align-items: center;
  -webkit-transition: -webkit-transform 0.3s ease, filter 0.3s ease;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.skill-logos img:hover{
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}


/* .skill-logos img {
  -webkit-transition: -webkit-transform 0.3s ease, filter 0.3s ease;
  transition: transform 0.3s ease, filter 0.3s ease;
} */

/* .skill-logos img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
} */





